<section class="container header-stick">
  <div class="row">
    <div class="col-lg-4">
      <div class="search-block">
        <%= form_with url: search_posts_path, method: :get, local: true do |form| %>
          <%= form.text_field :query %>
          <%= form.submit "Search", :class => "btn btn-info" %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="text-right">
        <% if current_author %>
          <h3 class="display-author">Hello, <%= current_author.display_author %></h3>
          <%= link_to "Logout", '/logout', class: "btn btn-info", method: :get %>
          <%= link_to "Edit profile", 'profile', class: "btn btn-info" %>
        <% else %>
          <%= link_to "Login", '/sessions/new', class: "btn btn-info", method: :get %>
          <%= link_to "Sign Up", '/authors/new', class: "btn btn-info", method: :get %>
        <% end %>
      </div>
    </div>
  </div>
</section>
<section class="header">
  <div class="container">
    <% if current_author %>
      <div class="header-add-btn text-right"><%= link_to 'New Post', new_post_path, class: "btn btn-light" %></div>
    <% else %>
      <p class="auth-warning">You mast be authorized before create a post </p>
    <% end %>
    <div class="header-title"><h1>Simple blog</h1></div>
  </div>
</section>
<div class="container post-wrap">

  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-sm-12 col-lg-4">
        <div class="bg-light post-list">
          <h5 class="post-list-title"><%= link_to post.title, post %></h5>
          <div class="text-center"><%= link_to image_tag(post.image, width: "200", class: "img-fluid"), post %></div>
          <div class="author-post-item">
            <strong><label>Author by: </label> <%= post.name %></strong>
            <p>published <%= distance_of_time_in_words(post.updated_at, Time.now) %> ago</p>
          </div>
          <div class="text-center">
            <% if post.author == current_author %>
              <%= link_to (fa_icon "pencil"), edit_post_path(post), class: "btn btn-info" %>
              <%= link_to (fa_icon "trash-o"), post, method: :delete, data: {confirm: 'You really want to delete this post?'}, class: "btn btn-danger" %>
            <% else %>
              <p class="warning-message">Only the author of the post can edit and delete</p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="digg_pagination">
      <%= will_paginate @posts %>
    </div>
  </div>

</div>
<div class="container">
  <p id="notice"><%= notice %></p>
</div>